<ul class="nav">
  <li><a href="{{ root_url }}/"><i class="icon-home icon-large"></i></a></li>
  <li class="dropdown" id="menu-system">
    <a class="dropdown-toggle" data-toggle="dropdown" href="/systems/">
      <i class="icon-desktop"></i> Systems <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="{{ root_url }}/systems/overview.html">Overview</a></li>
      <li><a href="{{ root_url }}/systems/chaos/">Chaos</a></li>
      <li><a href="{{ root_url }}/systems/gaia/">Gaia</a></li>
      <li><a href="{{ root_url }}/systems/g5k/">G5K</a></li>
      <li><a href="{{ root_url }}/systems/storage.html">Storage</a></li>
      <li><a href="{{ root_url }}/systems/accelerators.html">Accelerators</a></li>
      <li><a href="{{ root_url }}/systems/interconnect.html">Interconnect</a></li>
      <li><a href="{{ root_url }}/systems/stats.html">Stats &amp; History</a></li>
    </ul>
  </li>
  <li class="dropdown" id="menu-users">
    <a class="dropdown-toggle" data-toggle="dropdown" href="/for_users/">
      <i class="icon-group"></i> For Users<b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="{{ root_url }}/for_users/get_an_account.html">Get an Account</a></li>
      <li><a href="{{ root_url }}/for_users/getting_started.html">Getting Started</a></li>
      <li><a href="{{ root_url }}/for_users/best_practices.html">Best Practices</a></li>
      <li><a href="{{ root_url }}/for_users/fup.html">Fair Use Policy (FAUP)</a></li>
      <li><a href="http://hpc-tracker.uni.lu">Bug Tracker</a></li>
      <li><a href="{{ root_url }}/for_users/docs/">Documentations</a></li>
      <li><a href="{{ root_url }}/for_users/software/">Software</a></li>
      <li><a href="{{ root_url }}/for_users/howtos/">HOWTOs</a></li>
      <li><a href="{{ root_url }}/for_users/consulting/">Consulting</a></li>
    </ul>
  </li>
  <li class="dropdown" id="menu-faq">
    <a class="dropdown-toggle" data-toggle="dropdown" href="/faq/">
      <i class="icon-stethoscope"></i> FAQ<b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="{{ root_url }}/faq/access/">Access</a></li>
      <li><a href="{{ root_url }}/faq/oar/">OAR</a></li>
      <li><a href="{{ root_url }}/faq/transfer/">File Transfer</a></li>
      <li><a href="{{ root_url }}/faq/softs/">Software Install</a></li>
      <li><a href="{{ root_url }}/faq/programming/">Programming</a></li>
    </ul>
  </li>
  <li class="dropdown" id="menu-status">
    <a class="dropdown-" data-toggle="dropdown" href="/status/">
      <i class="icon-dashboard"></i> Live Status<b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="{{ root_url }}/status/overview.html">Overview</a></li>
      <li><a href="{{ root_url }}/status/monika.html">Monika</a></li>
      <li><a href="{{ root_url }}/status/drawgantt.html/">DrawGantt</a></li>
      <li><a href="{{ root_url }}/status/cdash/">MPI stack status</a></li>
   </ul>
  </li>

  <li><a href="/research-and-development/"><i class=" icon-lightbulb"></i> R &amp; D</a></li>
  <li><a href="/blog/archives/"><i class="icon-bullhorn"></i> Blog/News</a></li>
  <!-- <li><a href="{{ root_url }}/archives">Archives</a></li> -->
  <li><a href="/about"><i class="icon-tag"></i>About</a></li>
  <li id='cur_user'><a href="/login" ><i class="icon-user-md"></i>User Space</a></li>
</ul>
